<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.easy_speech_to_text">

<uses-permission android:name="android.permission.RECORD_AUDIO"/>
<uses-permission android:name="android.permission.INTERNET"/>

<application
    android:icon="@mipmap/ic_launcher">
    <!-- 插件的其他設置 -->
</application>

</manifest>